# Environment configuration settings
backend/src/main/resources/firebase-config.json

# Local Static File Upload
backend/src/main/resources/static/**


### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr

### VS Code ###
.vscode